<h1>Звіт по датах</h1>


<table style="border:1px solid black;">
  <tr>
    <th>Дата</th>
    <th>Сума</th>
  </tr>

  <% @report_by_dates.each do |report| %>
    <tr>
      <td><%= report.odate.strftime("%d  %m %Y") %></td>
      <td><%= report.amount %></td>
    </tr>
  <% end %>
</table>


<%= link_to "Graph", "#{reports_report_by_dates_graph_path}?start_date=#{params[:start_date]}&end_date=#{params[:end_date]}" %>

